.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  padding: 15px;
}

.btn_page {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow:
    inset 0 5px 10px rgba(0, 0, 0, 0.1),
    0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.btn_page:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.page_currrent {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}
