.loader {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 100px;
  border-top: 5px solid rgb(0, 0, 0);
  border-left: 3px solid rgb(65, 42, 165);
  border-bottom: 1px solid rgb(8, 124, 13);
  border-right: transperent;
  animation: spinner 0.8s linear infinite;
}
