.btnerror {
  background-color: rgb(177, 26, 26);
}

.clbtn1 {
  margin: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 112px;
}

.clbtn1 div {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: radial-gradient(#FFF, #BFE2FF);
  border-radius: 50%;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 6px solid #337AB7;
  cursor: pointer;
}

.clbtn1 div>span {
  background-color: #337AB7;
  display: block;
  height: 12px;
  border-radius: 6px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50%;
  margin-top: -6px;
  left: 18px;
  width: 64px;
}

.clbtn1 div>span span {
  display: block;
  background-color: #215b8c;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  left: 0;
  top: 0;
}

.clbtn1 div>span.left {
  transform: rotate(45deg);
  transform-origin: center;
}

.clbtn1 div>span.left .circle_left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}

.clbtn1 div>span.left .circle_right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}

.clbtn1 div>span.right {
  transform: rotate(-45deg);
  transform-origin: center;
}

.clbtn1 div>span.right .circle_left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}

.clbtn1 div>span.right .circle_right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}

.clbtn1 div:hover>span {
  background-color: #215b8c;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.clbtn1 div:hover>span span {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color: #337AB7;
}

.clbtn1 div:hover>span.left .circle_left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}

.clbtn1 div:hover>span.left .circle_right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}

.clbtn1 div:hover>span.right .circle_left {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 52px;
}

.clbtn1 div:hover>span.right .circle_right {
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-left: 0;
}
