.layout {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 70%;
}

.right {
  position: relative;
  z-index: 3;
  background-color: rgba(190, 189, 252, 0.832);
  width: 40%;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
